<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>時間作るん</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#e8e7e7] min-h-screen flex flex-col items-center justify-start p-6">
    <main class="w-full max-w-sm flex flex-col items-center text-center space-y-8">
      <!-- タイトル -->
      <header class="mt-10">
        <h1 class="font-black text-4xl text-black [font-family:'Rounded_Mplus_1c-Black',Helvetica]">
          時間作るん
        </h1>
      </header>

      <!-- サブタイトル -->
      <p class="text-xl text-black [font-family:'Rounded_Mplus_1c-Regular',Helvetica]">
        〜毎日の時間は有限です〜
      </p>

      <!-- 記録の付け方 -->
      <section class="rounded-2xl p-4 w-full text-left">
        <h2 class="font-bold text-lg mb-2 text-black">記録の付け方</h2>
        <p class="text-base leading-relaxed text-black [font-family:'Rounded_Mplus_1c-Regular',Helvetica]">
          １．「➕習慣登録」ボタンを押します<br />
          ２．家に帰ってきたら、「帰宅」ボタンを押します<br />
          ３．あなたが嫌だと思っている嫌な習慣をやったら、「その習慣」ボタンを押します<br />
          ４．すべてやり終えます<br />
          ５．寝る時、「就寝」ボタンを押します
        </p>
      </section>

      <!-- 記録の見方 -->
      <section class="rounded-2xl p-4 w-full text-left">
        <h2 class="font-bold text-lg mb-2 text-black">記録の見方</h2>
        <p class="text-base leading-relaxed text-black [font-family:'Rounded_Mplus_1c-Regular',Helvetica]">
          「カレンダー」ボタンを押すと、<br />
          あなたが有効に使えた時間が表示されます
        </p>
      </section>

      <!-- ボタン -->
      <div class="flex flex-col space-y-4 w-full px-4">
        <% if user_signed_in? %>
          <!-- ログイン済みユーザー向けのボタン　今後、link_to "習慣入力"、habit_pathに変更する -->
          <%= link_to "今日の習慣を入力する", 
              guide_path, 
              class: "bg-[#67c2fa] rounded-xl py-3 text-2xl font-medium text-black hover:bg-[#4eb3f7] transition-colors [font-family:'Rounded_Mplus_1c-Medium',Helvetica]" %>

        <% else %>
          <!-- 未ログインユーザー向けのボタン -->
          <%= link_to "新規登録してはじめる", 
              new_user_registration_path, 
              class: "bg-[#67c2fa] rounded-xl py-3 text-2xl font-medium text-black hover:bg-[#4eb3f7] transition-colors [font-family:'Rounded_Mplus_1c-Medium',Helvetica]" %>

          <%= link_to "ログイン", 
              new_user_session_path, 
              class: "bg-white rounded-xl py-3 text-2xl text-black hover:bg-gray-100 transition-colors [font-family:'Rounded_Mplus_1c-Regular',Helvetica]" %>
        <% end %>
      </div>
    </main>
  </body>
</html>
