<% if resource.errors.any? %>
  <% base = "mb-4 w-full rounded-lg px-4 py-3 text-sm border" %>
  <% css = "#{base} bg-red-50 text-red-800 border-red-200" %>

  <div class="<%= css %>">
    <% resource.errors.full_messages.each do |message| %>
      <p class="leading-relaxed"><%= message %></p>
    <% end %>
  </div>
<% end %>
