<section class="w-full mt-8">
  <%= link_to(
        "戻る",
        request.referer || root_path,
        class: "block w-full bg-white border border-gray-300 rounded-xl py-3 text-2xl text-black font-medium
                hover:bg-gray-100 transition-colors shadow-sm text-center
                [font-family:'Rounded_Mplus_1c-Regular',Helvetica]"
      ) %>
</section>
