<footer class="pt-4 space-y-2 text-center">
  <p class="text-black text-sm [font-family:'Rounded_Mplus_1c-Regular',Helvetica]">
    <%= link_to "利用規約", page_path("terms"), class: "underline hover:text-gray-700" %>
  </p>

  <p class="text-black text-sm [font-family:'Rounded_Mplus_1c-Regular',Helvetica]">
    <%= link_to "プライバシーポリシー", page_path("policy"), class: "underline hover:text-gray-700" %>
  </p>
</footer>
