<p><%= @resource.name %> 様</p>

<p>いつもご利用ありがとうございます。</p>
<p>パスワード再設定のご依頼を受け付けました。以下のリンクより新しいパスワードをご設定ください。</p>

<p><%= link_to 'パスワードを再設定する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>※本メールにお心当たりがない場合は、破棄していただいて問題ございません。</p>
<p>※リンクには有効期限があります。有効期限が切れた場合は、再度パスワード再設定をお試しください。</p>